
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  .header_content {
    padding: 18px 0px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  
  .nav_item {
    text-decoration: none;
    color: #6b7280;
    font-size: 14px;
    font-weight: 600;
  }
  
  header nav a.active {
    color: #d13400;
    font-weight: bold;
  }
  header nav .contact-button {
    background-color: orangered;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
  }
  header nav .contact-button:hover {
    background-color: #e34930;
  }
  
  .contact-button a {
    color: #fff;
  }
  .container {
    width: 50%;
    margin: 0 auto;
  }
  
  .container h1 {
    font-family: "Lora";
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #6b7280;
    margin-top: 1rem;
    margin-bottom: 30px;
  }
  .hero-section {
    margin-top: 80px;
    text-align: center;
    background: #fff;
  }


.about {
    display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
  background: #fff;
  padding: 64px 0px;
  width: 90%;
  margin: 0 auto;
  
}
.about h2{
    color: #000;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    font-family: "Lora";
    margin-bottom: 16px;
}
.about p {
    margin-bottom: 10px;
    color: #6b7280;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
}
.about img {
    max-width: 600px;
  border-radius: 12px;
  border: #E5E7EB;}

.values {
    background: #fdece3;
    padding: 2em 1em;
    text-align: center;
    margin-bottom: 20px;}
    
    .values h2 {
        font-family: lora;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px; 
    text-align: center; }

.values-grid {
    width:90% ;
  
    grid-template-columns: repeat(4, 1fr);
  

    margin: 40px;
    align-items: center;
    display: flex;
    gap: 50;

}

.value {
    border-radius: 12px;
    background: var(--Primary-Color-800, #661A00); ;
    color: #fff;
    padding: 1em;
    border-radius: 5px;
   margin-left: 60px;}

.choose-us {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    background: #fff;
    margin: o auto;
    width: 95%;
 
}
.choose-us h2 {
    color: #000;
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    font-family: "Lora";
    margin:60px ;
    margin-top: 50px;


}
.choose-us img {
    width: 609px;
    height: 408px;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.stats {
    display: flex;
    height: 10px;
    align-items: center;
    gap: 50px;
    margin: 60px;
  
 
}

.stat h3 {
    color: var(--Primary-Color-400, #FF6A38);
    font-family: Lora;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height:  30px;
    
}

.stat p {
    color: var(--Colors-Neutral-900, #111827);
font-family: Inter;
font-size: 16px;
gap: 8px;
font-weight: 600;
}
footer {
    background-color: #661a00;
  }
  
  .footer-container {
    width: 90%;
    margin: 0 auto;
    padding: 62px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-about {
    width: 55%;
  }
  .footer-right {
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
  
  .footer-about_text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 24px;
  }
  .footer-header {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-links ul li {
    margin: 5px 0;
  }
  
  .footer-links ul li a {
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  
  .footer-links ul li a:hover {
    color: #ff5722;
  }
  
  .footer-contact_text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  
  .footer-bottom {
    padding: 30px 0;
    width: 100%;
  }
  .footer-bottom_text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  
