/* General Styles */
body {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: #fff;
}

.contact-button a {
  color: #fff;
}

.title {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  font-family: "Lora";
}

.contact-section {
  padding: 60px 40px;
  background-color: #ffece5;
  width: 90%;
  margin: auto;
  margin-bottom: 60px;
  border-radius: 12px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.contact-info {
  width: 50%;
}
.contact-info h2 {
  color: #0a0d12;
  font-family: "Lora";
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  margin: 0;
}

.contact-info a {
  color: black;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}

.contact-info p {
  width: 90%;
  color: var(--Colors-Neutral-600, #4b5563);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.contact-info .about {
  color: var(--Colors-Error-500, #ef4444);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.contact-form {
  width: 50%;
  /* background-color: #fff; */
  padding: 40px;
  border-radius: 12px;
  overflow: hidden;
}

.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px 0;
  box-sizing: border-box;
}

.contact-form button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #e64a19;
}

.contact-form p {
  font-size: 0.9rem;
  color: #777;
  margin-top: 15px;
}

.contact-form a {
  color: #ff5722;
  text-decoration: none;
}

footer {
  background-color: #661a00;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 62px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-about {
  width: 55%;
}
.footer-right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-about_text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 24px;
}
.footer-header {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-links ul li a:hover {
  color: #ff5722;
}

.footer-contact_text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-bottom {
  padding: 30px 0;
  width: 100%;
}
.footer-bottom_text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .contact-section {
    width: 100%;
    margin: 0;
    padding: 0px;
  }
  .contact-container {
    flex-direction: column;
    padding: 20px;
    margin: 0;
    gap: 20px;
  }
  .contact-info {
    width: 100%;
  }
  .contact-form {
    background-color: transparent;
    width: 100%;
    padding: 0;
  }
  .contact-info h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .contact-info p {
    width: 100%;
    font-size: 14px;
    line-height: 24px;
  }
  .footer-container {
    flex-direction: column;
    padding-top: 40px;
  }
  .footer-about {
    width: 100%;
  }
  .footer-about_text {
    font-size: 14px;
  }
  .footer-right {
    width: 100%;
  }
}
