/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
  box-sizing: border-box;
}

.contact-button a {
  color: #fff;
}

h1 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contact-section {
  padding: 70px 20px;
  background-color: #ffd3c5;
  text-align: center;
  margin: 90px 70px;
  width: 87%;
  border-radius: 10px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 86px;
  margin: 0 auto;
}

.contact-info {
  flex: 1;
  min-width: 300px;
  text-align: left;
  height: 70%;
  margin-left: 10px;
  margin-top: 50px;
}
.contact-info h2 {
  color: #0a0d12;
  font-family: Lora;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 40px 20px;
  margin-bottom: 10px;
}

.contact-info a {
  color: black;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}

.contact-info p {
  width: 462px;
  color: var(--Colors-Neutral-600, #4b5563);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 0 20px;
}
.contact-info .about {
  color: var(--Colors-Error-500, #ef4444);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 5px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  background: #fff;
  padding: 40px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form .form-group {
  display: flex;
  gap: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #e64a19;
}

.contact-form p {
  font-size: 0.9rem;
  color: #777;
  margin-top: 15px;
}

.contact-form a {
  color: #ff5722;
  text-decoration: none;
}

footer {
  background-color: #661a00;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 62px 0px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-about {
  width: 55%;
}
.footer-right {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.footer-about_text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 24px;
}
.footer-header {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links ul li {
  margin: 5px 0;
}

.footer-links ul li a {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-links ul li a:hover {
  color: #ff5722;
}

.footer-contact_text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-bottom {
  padding: 30px 0;
  width: 100%;
}
.footer-bottom_text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
